@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@media (min-width: 768px) {
  .input-wrapper, .selection-wrapper {
    max-width: 720px;
  }
}
.email-inputted {
  color: #fff;
  font-weight: 300;
  font-size: 1.5625em;
}

.btn {
  font-size: medium;
  height: 56px;
  width: 150px;
  margin-top: 40px;
  padding: 0.625em 1.25em;
  border-radius: 0.35em;
  outline: none;
  border: none;
  background-color: #eea47f;
  color: #fff;
}
.btn:hover {
  background-color: rgb(204, 139, 107);
  cursor: pointer;
}

.form-control {
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 47px;
  padding: 5px 15px;
  border-color: #ccc;
  border: 1px solid #e5e5e5;
  display: block;
  width: 100%;
}
.form-control:focus {
  border-color: #eea47f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(231, 89, 23, 0.6);
  outline: none;
}

.drop-btn {
  height: 47px;
  width: 30px;
  position: relative;
  background-color: #ffffff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.drop-btn i {
  color: rgb(87, 85, 85);
  visibility: visible !important;
  right: 10px !important;
  top: 15px !important;
  font-size: 20px;
}

.drop-btn:hover .dropdwn-content {
  visibility: visible;
}

.current-img {
  width: 100%;
  height: 100%;
}

.selected-image {
  margin: 5px;
}

* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

header {
  text-align: center;
  padding: 3em;
}

h1 {
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.0952380952;
}

h2 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #00539c;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(11, 11, 11, 0.2);
}

.selection-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #eea47f;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
  margin-top: 40px;
  box-shadow: rgba(11, 11, 11, 0.2);
}

.main-header {
  color: #797e83;
}

.img-container {
  width: 252px;
  height: 252px;
  border-radius: 8px;
  box-shadow: rgba(11, 11, 11, 0.2);
}

@media (min-width: 768px) {
  .img-container {
    width: 300px;
    height: 300px;
  }
}
.img-container {
  margin-top: 50px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.refresh-btn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}

@media (max-width: 576px) {
  .email-container h2 {
    font-size: 1.5em;
  }
  .email-input i {
    top: 90px !important;
    right: 30px !important;
  }
}
.email-input i {
  position: absolute;
  top: 115px;
  right: 75px;
  visibility: hidden;
}

.email-input small {
  visibility: hidden;
  left: 0;
}

.email-input.success i.fa-circle-check {
  color: #5ece7f;
  visibility: visible;
}

.email-input.error i.fa-circle-exclamation {
  color: #ff0000;
  visibility: visible;
}

.email-input.error small {
  color: #fff;
  visibility: visible;
}

.selection-header {
  color: #fff;
}

.drop-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.dropdwn-content {
  position: absolute;
  background-color: #f9f9f9;
  width: 242px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 35px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
.dropdwn-content span {
  color: rgb(87, 85, 85);
  padding: 5px;
}
.dropdwn-content span:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.dropdwn-content span:hover .dropdwn-content {
  visibility: visible;
}

.stored-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .stored-img {
    flex-direction: row;
    justify-content: center;
  }
}/*# sourceMappingURL=application.css.map */