// ===================================
// Container styles
// ===================================

// Base containers
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
// Wrapper
.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $color-secondary;

    width: 100%;
    
    padding: 20px;
    border-radius: 20px;
    box-shadow: $color-shadow;
}

.selection-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $color-accent;

    width: 100%;
    
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: $color-shadow;
}

// containers

.main-header{
    color: $grey;
}

.img-container {
    width: 252px;
    height: 252px;
    border-radius: 8px;
    box-shadow: $color-shadow;
}

@media (min-width: $breakpoint-md) {
    .img-container {
        width: 300px;
        height: 300px;
    }
}

.img-container{
    margin-top: 50px;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.refresh-btn__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    position: relative;
}

@media (max-width: $breakpoint-sm) {
    .email-container h2 {
        font-size: 1.5em;
    }

    .email-input i {
        top: 90px !important;
        right:30px !important; 
    }

}

.email-input i {
    position: absolute;
    top: 115px;
    right:60px;
    visibility: hidden;
}

.email-input small {
    visibility: hidden;
    left: 0;
}

.email-input.success i.fa-circle-check{
    color: $success;
    visibility: visible;
}

.email-input.error i.fa-circle-exclamation{
    color: $error;
    visibility: visible;
}

.email-input.error small{
    color: $white;
    visibility: visible;
}

.selection-header{
    color: $white;
}

.stored-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: $breakpoint-sm) {
    .stored-img{
        flex-direction: row;
        justify-content: center;
    }
}