// ===================================
// Container styles
// ===================================

// Base containers
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
// Wrapper
.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $color-secondary;

    width: 100%;
    
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selection-wrapper{
    background-color: $color-accent;

    width: 100%;
    
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// containers

.main-header{
    color: $grey;
}

.img-container {
    width: 252px;
    height: 252px;
    border-radius: 8px;
    box-shadow: $color-shadow;
}

@media (min-width: $breakpoint-md) {
    .img-container {
        width: 300px;
        height: 300px;
    }
}

.img-container{
    margin-top: 50px;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.refresh-btn__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.email_container{
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: rgb(87, 85, 85);
    padding: 5px;
    padding-left: 15px;
    cursor: pointer;
    
    &:hover{
        background-color: darken(#f9f9f9, 10%);
    }
  }
.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    h2{
        margin-bottom: 10px !important;
    }
    h3{
        margin-top: 0px !important;
    }
}
@media (max-width: $breakpoint-sm) {
    .email-container h2 {
        font-size: 1.5em;
    }

    .dropdwn-content{
        width: 241px !important;
        right: -4px !important;
    }

}

@media (min-width: $breakpoint-sm){
    .icon-container{
        right: -260px !important;
    }
}

.email-input{
    margin-bottom: 40px;
}

.icon-container{
    height: 47px;
    position: relative;
    width: 47px;
    right: -190px;
    top: -22px;
    z-index: 12;
}

.icon-container i {
    position: absolute;
    visibility: hidden;
}

.err-msg_container{
    position: relative;
    top: -40px;
    color: $white;
}

.error-message {
    visibility: hidden;
    position: absolute;
}

.icon-container.success i.fa-circle-check{
    color: $success;
    visibility: visible;
}

.icon-container.error i.fa-circle-exclamation{
    color: $error;
    visibility: visible;
}

.err-msg_container.error small{
    color: $white;
    visibility: visible;
}

.selection-header{
    color: $white;
}

.drop-search{
    display: block;
    width: 100%;
    position: relative
}

.dropdwn-content {
    position: absolute;
    top: 47px;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(167, 167, 167);
    option{
        color: rgb(87, 85, 85);
        padding: 5px;
        padding-left: 15px;
        &:hover {
          background-color: #f1f1f1;  
          cursor: pointer;
          .dropdwn-content {
            visibility: visible;
          }
        }
    }
  }



.stored-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
