// =========================================
// Buttons
// =========================================

// Base button

.btn {
    font-size: medium;
    height: 56px;
    width: 150px;
    padding: .625em 1.25em;
    border-radius: .35em;
    outline: none;
    border: none;
    background-color: $color-accent;
    color: $white;
    &:hover{
        background-color:  rgb(204, 139, 107);
        cursor: pointer;
    }
}

.form-control{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: $base__font-size;
    font-family: $font-family--primary;
    height: 47px;
    padding: 5px 15px;
    border-color: #ccc;
    border: 1px solid #e5e5e5;
    display: block;
    width: 90%;
    z-index: 10;
    &:focus{
        border-color: $color-accent;
        //box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 
        //0 0 8px rgba(231, 89, 23, 0.6);
        outline: none;
    }
}
select {
    overflow: hidden !important;

}


.drop-btn{
    height: 47px;
    width: 10%;
    z-index: 13;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.drop-container{
    position: relative;
}

.drop-btn i {
    color: rgb(87, 85, 85);
    visibility: visible!important;
    right: 10px !important;
    top: 15px !important;
    font-size: 20px;
   
}
